.final-puzzle-victory {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 15px rgb(130, 210, 214);
  color: black;
  gap: 20px;
  height: 100vh;
  background-image: url('/images/portal-home.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  isolation: isolate;
  position: relative;

  .lose-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    background-color: blueviolet;
    padding: 20px;

    .lose {
      align-self: center;
    }
  }

  .win-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff5f436;
    border: 1px solid rgba(240, 242, 243, 0.7);
    box-shadow: 0 0 10px rgba(245, 247, 248, 0.3);
    padding: 20px;
    border-radius: 15px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .share-box {
    display: flex;
    flex-direction: column;
    background-color: #f0f5f536;
    border: 1px solid rgba(231, 235, 238, 0.7);
    box-shadow: 0 0 10px rgba(249, 250, 250, 0.3);
    padding: 15px;
    border-radius: 20px;
    line-height: 1rem;
    gap: 20px;
    width: 60%;

    p {
      text-align: center;
      line-height: 2rem;
      font-size: 1.1rem;
      font-weight: 600;
      overflow: hidden;
    }
  }
}


.portale {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 50px;
  background: #ecc0c036;
  position: absolute;

  &::before {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: conic-gradient(from var(--angle),
        transparent 0%,
        transparent 15%,
        #be7ada 80%,
        #f7dbfa 90%,
        #984680 95%,
        transparent 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -175px;
    left: -92px;
    z-index: -1;
    border: 5px solid #ffffffad;
    animation: borderLight 1s linear infinite;

  }

  &::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #bf7ada77;
    border-radius: inherit;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -175px;
    left: -92px;
    z-index: -2;
  }
}

th,
td {
  padding: 10px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderLight {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}