.room-one-content {
  position: relative;
}

h2 {
  font-size: 2rem;
  padding-block: 0.5rem;
}

p {
  padding-block: 0.2rem;
}

.memory-container {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  gap: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.card {
  background-color: rgba(20, 20, 30, 0.95);
  border-radius: 1rem;
  border: 2px solid rgb(112, 112, 112);
  font-size: 3.5rem;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.card:hover {
  border: 2px solid green;
}
