
.room-final-content {
  gap: 22px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 10px aqua;
  }

  label {
    align-self: center;
    display: flex;
  }

  form{
    display: flex;
    justify-content: center;
  }
}

.riddle-text {
  max-width: 511px;
  align-self: center;
  line-height: 1.5rem;
  border: 1px solid #6d7dbb;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-family: 'Iceland', monospace;
  font-size: 1.2rem;
  color: #a78bfa;
  text-shadow: 0 0 10px #a78bfa;
  background-color: #ffffff08;
  letter-spacing: 2px;
  animation: flicker 4s infinite;
  i{
    font-style: italic;
  }
  h3{
    font-size: 1.8rem;
  }
  h4{
    font-size: 1.4rem;
  }
}

@keyframes flicker {

  0%,
  100% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  93% {
    opacity: 0.7;
  }

  94% {
    opacity: 1;
  }

  96% {
    opacity: 0.8;
  }

  97% {
    opacity: 1;
  }
}