h2 {
  font-size: 1.5rem;
  padding-block: 0.5rem;
}

p {
  padding-block: 0.1rem;
}

.card-board {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  //border: 1px solid green;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.card {
  grid-column: span 1;
  //padding: 0.5rem;
  //padding-block: 4rem;
  background-color: rgba(20, 20, 30, 0.95);
  border-radius: 1rem;
  border: 2px solid rgb(112, 112, 112);
  font-size: 3.5rem;
  cursor: pointer;
  width: 110px;
  height: 150px;
}

.card:hover {
  border: 2px solid green;
}
