.room-one-content {
  position: relative;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.memory-container {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 1 auto;
  padding: 1rem;
}

.card {
  background-color: rgba(69, 28, 7, 0.95);
  border-radius: 1rem;
  border: 2px solid rgb(227, 78, 78);
  font-size: 3.5rem; // emoji
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.card:hover {
  border: 2px solid #fff;
}
